*,
*::after,
*::before  {
    margin: 0 px;
    padding: 0px;
    box-sizing: inherit;
}
html {
    //This defines what 1 rems is. Just a setting
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

